.row
  .container-fluid
    .section5
      .container
        .col-md-offset-3.col-md-6.text-vertical-center-3
          .wsp-home-header05 {{'HOME_TITLE_05' | translate}}
        .container.text-vertical-center-3.wsp-block-padding-30
          div(data-ng-controller="TestimonialsCtrl as ctrl").row
            div(data-ng-repeat='group in ctrl.panelGroups').row
              .col-md-4(data-ng-repeat="testimonial in group")
                .thumbnail.wsp-thumbnail-border05
                  p.wsp-thumbnail-text05 {{testimonial.info}}
                  .blockquote-footer.wsp-thumbnail-name05 {{testimonial.name}}
                  cite(title="Position").wsp-thumbnail-subname05 {{testimonial.position}}


