.row
  .container-fluid#know_more
    .section3
      .container.text-vertical-center-10
        .col-md-4
          .thumbnail.wsp-thumbnail-no-border
            .wsp-thumbnail
              .item01
                img(src="../../images/block03-1.png", alt="Camel Car Hire - Section 03-1")
            .wsp-thumbnail-title {{'HOME_THUMB_01_TITLE' | translate}}
            .wsp-thumbnail-text {{'HOME_THUMB_01_TEXT' | translate}}

        .col-md-4
          .thumbnail.wsp-thumbnail-no-border
            .wsp-thumbnail
              .item02
                img(src="../../images/block03-2.png", alt="Camel Car Hire - Section 03-2")
            .wsp-thumbnail-title {{'HOME_THUMB_02_TITLE' | translate}}
            .wsp-thumbnail-text {{'HOME_THUMB_02_TEXT' | translate}}

        .col-md-4
          .thumbnail.wsp-thumbnail-no-border
            .wsp-thumbnail
              .item03
                img(src="../../images/block03-3.png", alt="Camel Car Hire - Section 03-3")
            .wsp-thumbnail-title {{'HOME_THUMB_03_TITLE' | translate}}
            .wsp-thumbnail-text {{'HOME_THUMB_03_TEXT' | translate}}

