.row
  .container-fluid
    .section2
      .container-fluid
        .col-md-offset-7.col-sm-offset-5.col-xs-offset-5.col-sm-7.col-xs-7.col-md-5
          .wsp-section002-block-message02
            img(data-ng-src="{{'BLOCK_02_PIC_02' | translate}}", alt="Camel Car Hire - Section 02-2")
        .col-md-12
          .wsp-section01-btn
            a(href="#cars")
              button(type="button").btn.wsp-btn.wsp-btn-book.wsp-btn-md {{'BTN_BOOK' | translate}}