.row
  .container-fluid#home
    .section1
      .container
        .col-md-offset-2.col-md-8.text-vertical-center-5
          .wsp-home-center
            img(src="../../images/camel-logo-355x355.png", alt="Camel Car Hire logo")
          .wsp-home-header {{'HOME_TITLE_01' | translate}}
          .wsp-section01-btn.col-md-12
            a(href="#cars")
              button(type="button").btn.wsp-btn.wsp-btn-book.wsp-btn-md {{'BTN_BOOK' | translate}}
            a(href="#know_more")
              button(type="button").btn.wsp-btn.wsp-btn-details.wsp-btn-md {{'BTN_KNOWMORE' | translate}}

