.row#main-block
  div(data-ui-view="section001")
  div(data-ui-view="section002")
  div(data-ui-view="section003")
  div(data-ui-view="section004")
  div(data-ui-view="section005")
  div(data-ui-view="section006")
  div(data-ui-view="section007")
