.row
  .container-fluid
    .ins_section-1
      .col-md-offset-3.col-md-6.text-vertical-center-3
        .wsp-ins-header {{'INS_HEADER' | translate}}
      .container-fluid
        .col-md-offset-2.col-md-8
          .thumbnail.wsp-thumbnail-border04
            .wsp-ins-subheader {{'INS_001' | translate}}
            .wsp-ins-text {{'INS_001_1' | translate}}
            .container-fluid.wsp-ins
              .col-md-8.wsp-ins
                table.wsp-ins-tbl01-body
                  tr
                    th {{ 'INS_001_H1' | translate }}
                    th {{ 'INS_001_H2' | translate }}
                  tr
                    td {{ 'INS_001_R1_1' | translate }}
                    td {{ 'INS_001_R1_2' | translate }}&nbsp;&euro;
                  tr
                    td {{ 'INS_001_R2_1' | translate }}
                    td {{ 'INS_001_R2_2' | translate }}&nbsp;&euro;
            .wsp-ins-subheader {{'INS_002' | translate}}
            .wsp-ins-text {{'INS_002_1' | translate}}
            .container-fluid.wsp-ins
              .col-md-8.wsp-ins
                table.wsp-ins-tbl02-body
                  tr
                    th.wsp-ins-tbl-column-one {{ 'INS_002_H1' | translate }}
                    th {{ 'INS_002_H2' | translate }}
                    th {{ 'INS_002_H3' | translate }}
                  tr
                    td.wsp-ins-tbl-column-one {{ 'INS_002_R1_1' | translate }}
                    td {{ 'INS_002_R1_2' | translate }}&nbsp;&euro;
                    td {{ 'INS_002_R1_3' | translate }}&nbsp;&euro;
                  tr
                    td.wsp-ins-tbl-column-one {{ 'INS_002_R2_1' | translate }}
                    td {{ 'INS_002_R2_2' | translate }}&nbsp;&euro;
                    td {{ 'INS_002_R2_3' | translate }}&nbsp;&euro;
            .wsp-ins-subheader {{'INS_003' | translate}}
            .wsp-ins-text {{'INS_003_1' | translate}}
            .container-fluid.wsp-ins
              .col-md-8.wsp-ins
                table.wsp-ins-tbl02-body
                  tr
                    th.wsp-ins-tbl-column-one {{ 'INS_003_H1' | translate }}
                    th {{ 'INS_003_H2' | translate }}
                    th {{ 'INS_003_H3' | translate }}
                  tr
                    td.wsp-ins-tbl-column-one {{ 'INS_003_R1_1' | translate }}
                    td {{ 'INS_003_R1_2' | translate }}&nbsp;&euro;
                    td {{ 'INS_003_R1_3' | translate }}
                  tr
                    td.wsp-ins-tbl-column-one {{ 'INS_003_R2_1' | translate }}
                    td {{ 'INS_003_R2_2' | translate }}&nbsp;&euro;
                    td {{ 'INS_003_R2_3' | translate }}
            .wsp-ins-text.text-highlight {{'INS_004' | translate}}
              ul
                li {{'INS_004_1' | translate}}
                li {{'INS_004_2' | translate}}
                li {{'INS_004_3' | translate}}
                li {{'INS_004_4' | translate}}





