div(role="alert").col-offset-3.col-6.alert.alert-warning.busy-alert
  div().spinner
    span(us-spinner='{radius: 8, width: 5, length: 3, lines: 9}')
  h2(translate='GENERAL_LOADING_SPINNER').spinner-text