.row
  .container-fluid
    .cond_section-1
      .col-md-offset-3.col-md-6.text-vertical-center-3
        .wsp-cond-header {{'BOOK_HEADER' | translate}}
      .container-fluid
        .col-md-offset-2.col-md-8
          .thumbnail.wsp-thumbnail-border04
            ol
              li.wsp-cond-text {{'BOOK_001' | translate}}
              li.wsp-cond-text {{'BOOK_002' | translate}}
              li.wsp-cond-text {{'BOOK_003' | translate}}
              li.wsp-cond-text {{'BOOK_004' | translate}}
              ul
                li.wsp-cond-text {{'BOOK_004_1' | translate}}
                li.wsp-cond-text {{'BOOK_004_2' | translate}}
                li.wsp-cond-text {{'BOOK_004_3' | translate}}
              li.wsp-cond-text {{'BOOK_005' | translate}}
                span.text-highlight &nbsp; {{'BOOK_005_1' | translate}}
              li.wsp-cond-text {{'BOOK_006' | translate}}
              li.wsp-cond-text {{'BOOK_007' | translate}}
                ul
                  li.wsp-cond-text.text-highlight {{'BOOK_007_1' | translate}}
                  li.wsp-cond-text.text-highlight {{'BOOK_007_2' | translate}}
              li.wsp-cond-text {{'BOOK_008' | translate}}
              li.wsp-cond-text {{'BOOK_009' | translate}}
              li.wsp-cond-text {{'BOOK_010' | translate}}
              li.wsp-cond-text {{'BOOK_011' | translate}}




