.row
  .container-fluid
    .container
      .text-vertical-center-3
        h1 {{ 'MSG_ADMIN_SECTION' | translate }}
      .text-vertical-center-5
        .alert.alert-info
          h3 {{ 'MSG_ADMIN_SECTION_2' | translate }}





